# Base default settings
default: &default
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  adapter: sqlite3
  database: storage/development.sqlite3
  timeout: 5000

test:
  <<: *default
  adapter: sqlite3
  database: storage/test.sqlite3
  timeout: 5000

production:
  primary: &primary_production
    <<: *default
    adapter: postgresql
    encoding: unicode
    url: <%= ENV['DATABASE_URL'] %>
    pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

  cable:
    <<: *primary_production
    migrations_paths: db/cable_migrate

  cache:
    <<: *primary_production
    migrations_paths: db/cache_migrate

  queue:
    <<: *primary_production
    migrations_paths: db/queue_migrate
