production:
 primary: &primary_production
 <<: *default
 adapter: postgresql
 encoding: unicode
 url: <%= ENV['DATABASE_URL'] %>
 pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

cable:
 <<: *primary_production
 migrations_paths: db/cable_migrate

cache:
 <<: *primary_production
 migrations_paths: db/cache_migrate

queue:
 <<: *primary_production
 migrations_paths: db/queue_migrate