<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "ðŸ‘€æŠ•ç¨¿ã—ãŸå†…å®¹ã‚’è¦‹ã‚‹", post %>
    </p>
  <% end %>
</div>

<%= link_to "ðŸš©æŠ•ç¨¿ã¯ã“ã¡ã‚‰ã‹ã‚‰", new_post_path %>
