<body>
  <% flash.each do |key, message| %>
    <% css_class = case key
       when "notice" then "alert-success"
       when "alert"  then "alert-danger"
       else "alert-info"
       end %>
    <div class="<%= css_class %>"><%= message %></div>
  <% end %>

  <%= yield %>
</body>
